# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~

*.DS_Store
*-checkpoint.ipynb
*.so
*.pyc

src/GTAGS
src/GRTAGS
src/GPATH
src/tools

/* CMAKE */
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/tools/pybind11_2_3_0.tar.gz
build
/.idea/
cmake-build-debug/

tools/